@import "~bootstrap/scss/bootstrap.scss";

#trafficTop {
    background-color:black;
    width: 10px;
    height: 70px;
    margin: auto;
}

#container {
    background-color: (black);
    width: 60px;
    height: 178px;
    margin: auto;
    border-radius: 10px;
}

.light {
    top: 20px;
    width: 58px;
    height: 58px;
    margin: auto;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    &.red {
        background-color: red;
    }
    &.yellow {
        background-color: yellow;
    }
    &.green {
        background-color: green;
    }
    &.selected {
        box-shadow: #f8ffcc 0px 0px 50px 20px;
    }


}

